@font-face {
    font-family: 'academy';
    src: url('Academy Engraved LET Fonts.ttf') format('truetype');
}

@font-face {
    font-family: 'baskerville';
    src: url('Baskerville.ttc');
}

body {
    --black: #000;
    --white: #fff;
    --red: #c00;
    --highlight: #fffb00eb;
    --white-translucent: #ffffffe3;
    --width: 3780px;
    --height: 5292px;

    --title-font-size: 250px;
    --title-margin-bottom: 150px;

    --padding-poster: 150px 150px;

    /* outside border */
    --border-size: 160px;
}

body {
    background-color: var(--black);
    color: var(--white-translucent);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: var(--width);
    height: var(--height);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--border-size);
    border: none;
}

.poster {
    height: 100%;
    width: 100%;
    padding: var(--padding-poster);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 4px solid var(--white);
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('solid-painted-concrete-wall-textured-backdrop.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
}

.poster > * {
    position: relative;
    z-index: 1;
}

header {
    text-align: center;
    margin-bottom: var(--title-margin-bottom);
}

header h1 {
    font-family: 'academy', sans-serif;
    font-size: var(--title-font-size);
    color: var(--white-translucent);
    opacity: 0.8;
    margin: 0;
}

.red {
    color: var(--red);
}

.highlight {
    color: var(--highlight);
}

.logo-container {
    margin-bottom: 40px;
}

.logo {
    width: 500px;
}

.axioms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2cm 4cm;
    width: 100%;
}

.axiom {
    display: grid;
    grid-template-columns: 180px auto;
}

.axiom h2 {
    font-family: 'academy', sans-serif;
    font-size: 80pt;
    color: var(--white-translucent);
    opacity: 0.8;
    margin: 0;
    line-height: 1;
}

.axiom p {
    font-family: 'baskerville', serif;
    font-size: 35pt;
    margin: 0;
    opacity: 0.85;
    margin-top: -16px;
}
