@font-face {
    font-family: 'academy';
    src: url('Academy Engraved LET Fonts.ttf') format('truetype');
}

@font-face {
    font-family: 'baskerville';
    src: url('Baskerville.ttc');
}

body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.poster {
    width: 3779px;
    height: 5314px;
    background-color: #000;
    padding: 200px 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('solid-painted-concrete-wall-textured-backdrop.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
}

.poster > * {
    position: relative;
    z-index: 1;
}

header {
    text-align: center;
    margin-bottom: 300px;
}

header h1 {
    font-family: 'academy', sans-serif;
    font-size: 200px;
    color: #fff;
    opacity: 0.9;
    margin: 0;
}

.red {
    color: #c00;
}

.highlight {
    color: #fffb00eb;
}

.logo-container {
    margin-bottom: 40px;
}

.logo {
    width: 500px;
}

.axioms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2cm 4cm;
    width: 100%;
}

.axiom {
    display: grid;
    grid-template-columns: 200px auto;
}

.axiom h2 {
    font-family: 'academy', sans-serif;
    font-size: 80pt;
    color: #fff;
    margin: 0;
    line-height: 1;
}

.axiom p {
    font-family: 'baskerville', serif;
    font-size: 35pt;
    margin: 0;
    opacity: 0.85;
    margin-top: -16px;
}
