/* XGH Poster - Default Configuration */
/* All styling is controlled through CSS custom properties */

body {
    /* Color configuration */
    --black: #000;
    --white: #fff;
    --headline-xgh: #fffb00eb;
    --highlight: #fffb00eb;
    --white-translucent: #ffffffe3;

    /* Poster dimensions */
    --width: 3780px;
    --height: 5292px;

    /* Radial gradient configuration */
    --gradient-color-r: 0;
    --gradient-color-g: 0;
    --gradient-color-b: 0;
    --gradient-inner-opacity: 0;
    --gradient-outer-opacity: 0.7;
    --gradient-inner-percent: 30%;
    --gradient-outer-percent: 100%;

    /* Font and size configuration */
    --headline-font: 'academy', sans-serif;
    --headline-size: 250px;
    --axiom-number-font: 'academy', sans-serif;
    --axiom-number-size: 80pt;
    --body-font: 'baskerville', serif;
    --body-size: 35pt;

    /* Zoom configuration */
    --zoom-scale: 0.25;

    /* Icon configuration */
    --icon-filter: none;
    --icon-opacity: 1;

    /* Background configuration */
    --background-image: url('../images/solid-painted-concrete-wall-textured-backdrop.jpg');

    /* Layout configuration */
    --poster-padding-top: 250px;
    --poster-padding-right: 300px;
    --poster-padding-bottom: 250px;
    --poster-padding-left: 300px;
    --icon-size: 500px;
    --headline-margin: 170px;
    --axiom-gap-row: 80px;
    --axiom-gap-column: 80px;
    --axiom-text-offset: -16px;
    --axiom-gap: 180px;
    --axiom-grid-column-2: auto;
    --axioms-grid-columns: 2;
    --axioms-column-flow: false;

    /* Frame configuration */
    --frame-enabled: 1;
    --frame-thickness: 5px;
    --frame-color: #fff;
    --frame-distance: 120px;
    --frame-radius: 0px;
    --frame-style: solid;
    --frame-opacity: 1;
}
