@font-face {
    font-family: 'academy';
    src: url('../fonts/Academy Engraved LET Fonts.ttf') format('truetype');
}

@font-face {
    font-family: 'baskerville';
    src: url('../fonts/Baskerville.ttc');
}

body {
    background-color: var(--white);
    color: var(--white-translucent);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: var(--width);
    height: var(--height);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 160px; */
    border: none;
    transform: scale(var(--zoom-scale));
    transform-origin: top left;
}

.poster {
    height: 100%;
    width: 100%;
    padding: var(--poster-padding-top) var(--poster-padding-right)
        var(--poster-padding-bottom) var(--poster-padding-left);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: 4px solid var(--white); */
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
}

.poster::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* The Gradient */
    background: radial-gradient(
        circle,
        rgba(
                var(--gradient-color-r),
                var(--gradient-color-g),
                var(--gradient-color-b),
                var(--gradient-inner-opacity)
            )
            var(--gradient-inner-percent),
        rgba(
                var(--gradient-color-r),
                var(--gradient-color-g),
                var(--gradient-color-b),
                var(--gradient-outer-opacity)
            )
            var(--gradient-outer-percent)
    );
}

.poster > * {
    position: relative;
    z-index: 1;
}

header {
    text-align: center;
    margin-bottom: var(--headline-margin);
}

header h1 {
    font-family: var(--headline-font);
    font-size: var(--headline-size);
    color: var(--white-translucent);
    opacity: 0.8;
    margin: 0;
}

.headline-letters {
    color: var(--headline-xgh);
}

.highlight {
    color: var(--highlight);
}

.logo-container {
    margin-bottom: 50px;
}

.logo {
    width: var(--icon-size);
    filter: var(--icon-filter);
    opacity: var(--icon-opacity);
}

.axioms {
    display: grid;
    grid-template-columns: repeat(var(--axioms-grid-columns), 1fr);
    gap: var(--axiom-gap-row) var(--axiom-gap-column);
    width: 100%;
}

.axiom {
    display: grid;
    grid-template-columns: var(--axiom-grid-column-1) var(--axiom-grid-column-2);
}

.axiom h2 {
    font-family: var(--axiom-number-font);
    font-size: var(--axiom-number-size);
    color: var(--white-translucent);
    opacity: 0.7;
    margin: 0;
    line-height: 1;
}

.axiom p {
    font-family: var(--body-font);
    font-size: var(--body-size);
    margin: 0;
    opacity: 0.85;
    margin-top: var(--axiom-text-margin);
}
